<!-- <ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>TawTheme</ion-list-header>
          <ion-note>hi@ionicframework.com</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app> -->

<ion-app>
  <ion-split-pane contentId="main-content" class="edupala-menu">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>TawTheme</ion-title>
          <!-- <img src="assets/images/menu-header.png" /> -->
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-menu-toggle auto-hide="false">
          <ion-list lines="none">
            <ion-item [routerLink]="'/'">
              <ion-icon name="home" slot="start"></ion-icon>
              Home
            </ion-item>
          </ion-list>
        </ion-menu-toggle>

        <ion-item lines="none" (click)="isWordpress === 1 ? isWordpress = 0 : isWordpress = 1">
          <ion-icon name="logo-wordpress" slot="start"></ion-icon>
          Wordpress Template
          <ion-icon slot="end" [name]="isWordpress? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-item menuclose [hidden]="!isWordpress" [routerLink]="['/wordpresslist']" menuClose class="sub-menu">
            <ion-icon name="list" slot="start"></ion-icon>
            List View
          </ion-item>
          <ion-item menuclose [hidden]="!isWordpress" [routerLink]="['/wordpressdetail']" menuClose class="sub-menu">
            <ion-icon name="receipt" slot="start"></ion-icon>
            Detail
          </ion-item>
        </ion-menu-toggle>

        <ion-item lines="none" (click)="isProject === 1 ? isProject = 0 : isProject = 1">
          <ion-icon name="newspaper" slot="start"></ion-icon>
          Project
          <ion-icon slot="end" [name]="isProject? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-item menuclose [hidden]="!isProject" [routerLink]="['/projectlist']" menuClose class="sub-menu">
            <ion-icon name="list" slot="start"></ion-icon>
            List View
          </ion-item>
          <ion-item menuclose [hidden]="!isProject" [routerLink]="['/projectdetail']" menuClose class="sub-menu">
            <ion-icon name="receipt" slot="start"></ion-icon>
            Detail
          </ion-item>
        </ion-menu-toggle>
        <ion-item lines="none" (click)="isSupport === 1 ? isSupport = 0 : isSupport = 1">
          <ion-icon name="man" slot="start"></ion-icon>
          Support
          <ion-icon slot="end" [name]="isSupport? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <ion-item menuclose [hidden]="!isSupport" [routerLink]="['/supportlist']" menuClose class="sub-menu">
            <ion-icon name="list" slot="start"></ion-icon>
            List View
          </ion-item>
          <ion-item menuclose [hidden]="!isSupport" [routerLink]="['/supportdetail']" menuClose class="sub-menu">
            <ion-icon name="receipt" slot="start"></ion-icon>
            Detail
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item [routerLink]="['/login']">
            <ion-icon name="log-in" slot="start"></ion-icon>
            Login
          </ion-item>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>